*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A22F4;
    font-family: 'DejaVu Sans';
}

.left-section{
    margin-left: 165px;
    display: inline-block;
}

.text-wrapper{
    margin-top: 150px;
}

.text-title{
    color: white;
    font-size: 18px;
}

.text-pragraph{
    color: white;
    width: 430px;
    font-size: 17px;
    margin-top: 30px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 463px;
    height: 197px;
    margin-top: 30px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 463px;
    height: 197px;
  }
  .gmap_iframe {
    width: 463px !important;
    height: 197px !important;
    border-radius: 15px;
  }


.contact-wrapper {
    margin-top: 50px;
    color: white;
}

.phone-box {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.phone-icon {
    margin-top: 10px;
}

.email-box {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.email-icon {
    margin-top: 10px;
}

.contact-box {
    display: inline-block;
}

.contact-box p {
    display: inline-block;
    margin: 15px;
    font-size: 19px;
    font-weight: bold;
}

input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    height: 50px;
    width: 500px;
    margin: 18px;
}

::placeholder{
    color: white;
    font-weight: bold;
}

.right-section{
    margin-top: 200px;
    margin-left: 165px;
    display: inline-block;
    vertical-align: top;
}

button{
    margin-left: 400px;
    width: 120px;
    height: 45px;
    border-radius: 18px;
    border: none;
    margin-top: 15px;
}

button:hover{
    cursor: pointer;
}